font {
  font-size: large;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

.title {
  text-align: center;
}

.content {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: gray;
  height: 575px;
  width: 400px;
  min-height: 300px;
  min-width: 200px;
  align-self: center;
  align-content: center;
  justify-content: center;
}

.screen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border: 5px solid black;
  background-color: lightyellow;
  height: 100px;
  width: 333px;
  margin: 10px;
  margin-left: 27px;
}

.output {
  flex: 1 1 1;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  justify-content: center;

  font-size: 30px;

  height: 350px;
  width: 350px;
  margin: 5px;
  padding: 20px;
}

button:hover {
  background-color: yellow;
}

.reset {
  display: flex;
  margin-left: 25px;
  margin-top: 25px;
}

.clear {
  justify-content: center;
  width: 348px;
  height: 40px;
  background-color: red;
}

button {
  font-size: 25px;
}

.operator {
  background-color: aquamarine;
}

#equals {
  background-color: grey;
}

#decimals {
  background-color: grey;
}
